.id0{

width: 600px;
height: 400px;
background-color:darkgray;
margin: auto;
}
.id1{ 
	width: 100px;
	height: 60px;
	margin: 10px;
	padding:5px;
	float: left ;
	background: white;

}


.id3{
	width: 50px;
	height: 260px;
	float:right;
	background-color: white;
	margin: 10px;
	padding: 10px;
}
.id4{
	height: 300px;
	width: 250px;
	background-color: white;
 	margin: 10px;
 	float: left;
 	padding: 10px;
}